/* CSS Document */

/* GLOBAL CHILD PAGES DEFAULTS */

h1, h2, h3, h, h5, h6, p {
	font-family: 'Segoe UI' !important;
}

h1 {
	color: #000;
	font-size: 26px;
}

h2 {
	color: #333;
	font-size: 18px;
	font-weight: bold;
        margin: 0;
}

/* GLOBAL CHILD PAGES DEFAULTS */

#headerContainer {
	height: 50px;	
}
#logoContainer {
	background: url(../images/RAIMOLLOGOSMALL2.png) no-repeat 5px;
	height: 50px;
	width: 325px;
        position: relative;
}

#logoContainer a {
    display: block;
    width: 170px;
    height: 100%;
}

#headerMenuContainer {
	float: right;
	text-align: right;
	min-width: 400px;
	position: relative;
	height: 50px;
}

#headerMenuContainer ul {
	display: inline-block;
	vertical-align: bottom;
	margin: 0;
	position: absolute;
	right: 0px;
	bottom: 3px;
}

#headerMenuContainer ul li{
	float: left;
	list-style: none;
	font-size: 22px;
	margin: 0 5px;
}

#crumbContainer {
	margin-left: 5em;
	margin-top: 10px;
}
#crumbContainer img {
	float: left;
	margin: 0 5px 0 0;
}
#crumbContainer h1 {
	margin-top: 10px;
}
#crumbContainer h1 a {
    color: #91191c;
}
#crumbContainer a:hover {
    color: #999;
}

/* LEFT BAR */

#leftBar {
	padding-left: 5px;
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
}

#leftBar ul li {
	list-style: none;
	margin: 3px 0;
}

/* LEFT BAR */

#bodyContents {
	float: right;
}

#bodyTop {
	margin-right: 5px;
	padding: 0;
	position: relative;
}

#bodyTextContents {
	padding: 0 5px 0 5px;
}

#bodySearchForm {
	display: block;
	position: absolute;
	right: 2px;
}

#bodySearchForm form input {
	background-color: #ccc;
	border: 0;
	float: right;
	margin: 0;
}

#bodySearchForm form label {
	float: left;
	width: 10%;
	height: 19px;
	background:url(../images/search2.png) no-repeat right;
}
#formMenu {
	text-transform: lowercase;
        float: right;
}
#formMenu ul {
	float: right;
	border-bottom: 1px solid #ccc;
	margin: 0;
}
#formMenu ul li {
	float: left;
	margin: 0 6px;	
	list-style: none;
}
#searchBox {
    position: absolute;
    bottom: 0;
    right: 0;
}
#searchBox form {
    float: right;
    
}
#searchBox input {
    background-color: #ccc;
    border: 0;
    margin: 0;
}
#searchBox .dd-box {
    width: 150px !important;
}
#gridBottom {
    margin-bottom: 8px;
}
#recordLimit {
    font-size: 8pt;
    color: #666 !important;
}
#recordLimit select {
    font-size: 8pt;
    margin: 0;
    color: #333;
    border: 0;
}
/* LINK SELECTOR */
.selected {
	color: #91191c;
}
.fullWidth {
	width: 100%;
}
.dd-input {
	width: 40%;
	min-width: 150px;
}
.search {
	margin-left: 10px;
	width: 80%;
}
.fieldID {
	font-weight: bold;
	text-align: right;
}
.formButtons {
	float: right;
	width: 100%;
}
.form {
	width: 100%;
	min-width: 400px;
}
.form label {
    font-weight: normal !important;
}
.form .dd-input {
	border: 1px solid #999;
        min-width: 200px;
        width: 100%;
}
.form .dd-textarea {
        border: 1px solid #999;
        height: 50px;
        width: 49%;
        min-width: 200px;
        width: 100%;
        font-family: 'Segoe UI';
        font-size: 12px;
        background-color: #fff !important;
}
.form .table-section {
        border-top: 1px solid #ccc;
        padding-bottom: 0;
        text-transform: capitalize;
        font-weight: bold;
        padding: 0 0 0 10px;
}
.form tr {
	color: #000;
}
.form tr td {
	border: 0;
        vertical-align: middle;
}
.form tr .right {
        text-align: right;
        color: #333;
}
.form .error {
    padding: 1px !important;
    display: inline !important;
    background-image: none !important;
}

.btn {
	border: 1px solid #999;	
}
/* LINK SELECTOR */

/* CLEARFIX */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
/* CLEARFIX */

.roleList {
    list-style: none;
    margin: 0;
    text-transform: uppercase;
}
.required {
    font-size: 12px;
    color: red;
    font-weight: bold;
    margin-right: 3px;
}

/* NOTICE MESSAGES */

#msg {
    margin: 5px 0;
}
.success, .notice, .error {
    display: block;
    padding: 0.4em 0.4em 0.4em 25px !important;
}

.success {
    background: url(../images/check.png) no-repeat #e6efc2 5px;
}

.error {
    background: url(../images/error.png) no-repeat #fbe3e4 5px;
}

.wait {
    background: url(../images/ajax-loader.gif) no-repeat #fff6bf 5px;
}

/* END NOTICE MESSAGES */


/* PAGINATION */

#pagination {
    float: right;
    margin: 0;
}
#pagination div {
    float: right;
    margin: 0;
    text-align: center;
}
#pagination div .box, #pagination div .selected {
    margin: 0;
}
#pagination  a, #pagination div .selected {
    padding: 0px;
}
#pagination div .prev, #pagination div .next {
    padding: 3px;
}
#pagination div .first, #pagination div .last {
    padding: 0px !important;
    margin: 0px;
}
.box {
    padding: 0;
    background-color: #ccc;
    color: #fff;
    padding: 3px !important;
}
.box a {
    display: inline-block;
    width: 15px;
    padding: 3px;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
}
.box .selected {
    display: inline-block;
    width: 15px;
    padding: 0;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
}
/* PAGINATION */