/* Forms */
   /** Error color **/
   input.error {
     color:#CC0000;
     border:solid 1px #de888a; background:#ffdddd;
   }
   /** When IE6 dies, replace with element-specifics. This is supposed to apply to only text, password and file. **/
   input.text, input.password, input.file {
      border:1px solid #DEDEDE;
      color:#525151;
      font-size:20px;
      height:30px;
      padding:2px 0 0 5px;
      width:420px;
      margin-bottom:10px;
   }
   select {
      margin-bottom:10px;
   }
   /** Again, without IE6 these would be element type selectors. We need a small margin. **/
   input.radio, input.checkbox {
      margin:0 0.4em 0 0;
   }
   textarea {
      border:1px solid #DEDEDE;
      color:#525151;
      font-size:12pt;
      padding:2px 0 0 5px;
      width:420px;
      height: 80px;
      margin-bottom: 10px;
   }

   input.submit {
      font-size: 18px;
      padding-left: 10px;
      padding-right: 10px;
   }

/** Error and info spans **/
span.error {
  padding: 5px;
  color:#CC0000;
  border:solid 2px #de888a; background:#ffdddd;
  margin-top: 0px; margin-bottom: 0px;
  margin-left: 4px;
  display: inline-block;
  vertical-align: top;
  font-size: smaller;
  max-width: 465px;
  /* IE7: haslayout to get inline-block */
  zoom: 1;
  *display: inline;
}

span.info {
  padding: 5px;
  color:#5C5C5C;
  border:solid 2px #CBDFE7; background:#DEF1F8;
  margin-top: 0px; margin-bottom: 0px;
  margin-left: 4px;
  display: inline-block;
  vertical-align: top;
  font-size: smaller;
  max-width: 465px;
  /* IE7: haslayout to get inline-block */
  zoom: 1;
  *display: inline;
}
