/* 
    Document   : dashboard
    Created on : 09 19, 11, 2:12:42 PM
    Author     : MISADMIN
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    color: red;
}
